@font-face {
  font-family: Inter;
  src: url('./fonts/inter-regular.woff2') format('woff2'),
       url('./fonts/inter-regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: Inter;
  src: url('./fonts/inter-bold.woff2') format('woff2'),
       url('./fonts/inter-bold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

:root {
  --color-red: 217, 30, 24;  
  --color-dark-gray: #121212;
  --color-gray: #e8e8e8;
  --color-primary: rgb(var(--color-red));
  --color-tertiary: var(--color-gray);
  --color-text: var(--color-dark-gray);

  --overlay-height: 500px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
}

.btn--primary {
  display: inline-block;
  -webkit-appearance: none;
  background-color: transparent;
  background-image: linear-gradient(
    180deg,
    hsl(2deg 80% 47%) 0%,
    hsl(2deg 80% 46%) 11%,
    hsl(2deg 81% 45%) 22%,
    hsl(2deg 81% 44%) 33%,
    hsl(2deg 81% 42%) 44%,
    hsl(2deg 82% 41%) 56%,
    hsl(2deg 82% 40%) 67%,
    hsl(2deg 83% 38%) 78%,
    hsl(2deg 83% 37%) 89%,
    hsl(2deg 84% 36%) 100%
  );  
  padding: 1rem;
  color: white;
  font-weight: 600;
  border-width: 0;
  font-family: inherit;
  font-size: 16px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.1s cubic-bezier(.4,0,.2,1), transform 0.05s cubic-bezier(.4,0,.2,1);
  box-shadow: 0 1px black;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.btn--primary:hover {
  background-color: rgba(var(--color-red), 0.9);
}

.btn--primary:active {
  transform: translateY(2px);
}

a,
a:link,
a:visited {
  color: var(--color-primary);
  transition: opacity 0.1s ease-out;
}

a:hover,
a:active {
  opacity: 0.5;
}

.header {
  display: flex;
  align-items: center;
  box-shadow: 0 2px var(--color-tertiary);
  max-width: 1400px;
  padding: 0 1rem;
  margin: 0 auto;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header__slogan {
  font-size: 14px;
  color: #757575;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.masthead {
  background-color: #363636;
  color: white;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    padding: 2rem;
    background-image: url('../images/extreme-growth.jpg');
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
  }
}


@media (min-width: 768px) {
  .callout {
    font-size: 1.1rem;
    max-width: 768px;
  }
}

.callout__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .callout__item {
    transform: translateX(-100px);
  }

  .callout__item:nth-child(even) {
    transform: translateX(100px);
  }
}

.callout__desc {
  width: 50%;
}

.search-panel {
  display: flex;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.search-panel__filters {
  flex: 1;
  padding: 2rem;
  display: none;
}

@media (min-width: 768px) {
  .search-panel__filters {
    display: block;
  }
}

.search-panel__results {
  position: relative;
  flex: 3;
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

.notice {
  color: white;
  position: absolute;
  bottom: calc(var(--overlay-height) / 4);
  z-index: 1;
  left: 0;
  right: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .notice {
    font-size: 1.5rem;
  }  
}

.notice h2 {
  text-shadow: 0 1px 2px black;
}

.notice__actions {
  width: 100%;
  text-align: center;
}

.notice__button {
  flex: 1;
}

.ais-Hits {
  position: relative;
  overflow: hidden;
  max-height: 900px;
}

.ais-Hits::after {
  display: block;
  content: '';
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  position: absolute;
  bottom: 0;
  height: var(--overlay-height);
  right: 0;
  left: 0;
}

/*
 *
 * Algolia search result items
 *
*/

.ais-Hits-list {
  margin-top: 0;
}

.ais-Hits-item {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
  align-items: flex-start;
  justify-content: flex-start;
  width: calc(100% / 2 - 1rem);
}

@media (min-width: 768px) {
  .ais-Hits-item {
    width: calc(100% / 3 - 1rem);
  }
}

.ais-Hits-item__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.ais-Hits-item__content > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ais-Hits-item__description {
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 4rem;
}

.ais-Hits-item__event {
  margin-top: auto;
  text-align: right;
  justify-self: flex-end;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  background: #f0f0f0;
  box-shadow: inset 0 2px 6px -5px #aaa;
}

.ais-Hits-item__event span {
  color: #333;
  display: inline-block;
  background-color: #ddd;
  border-radius: 3px;
  padding: 1px 10px;
}

.ais-RangeSlider .rheostat-background {
  box-shadow: 0 1px var(--color-tertiary);
  border: 0;
  transform: translateY(-50%);
}

.ais-RangeSlider .rheostat-progress {
  background-color: var(--color-primary);
}

.rheostat-tooltip::before {
  content: '$';
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

.site-footer {
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  color: #333;
}

